.asset_expand.cell
  flex 0 0 46px

.asset_quantity.cell
.asset_balance.cell
  flex 0 0 110px

.asset_allocation.cell
  flex 0 0 70px

.asset_quantity.cell
.asset_balance.cell
.asset_allocation.cell
  justify-content flex-end

.cell
  padding-right 6px