.hidden_balance
  width 8px
  height 16px
  border-radius 3px
  margin-left 2px
  background repeating-linear-gradient(
    180deg,
    transparent,
    transparent 1px,
    #CCC 0px,
    #CCC 2px
  )
