$teal = #469990
$maroon = #800000
$brown = #9A6324
$blue = #4363d8
$orange = #f58231

.asset_class
  border-bottom 1px solid transparent
  border-left 6px solid $borderColor

  &.crypto_currency
    border-color $maroon
    background lighten($maroon, 97%)

  &.currency
    border-color $brown
    background lighten($brown, 97%)

  &.misc
    border-color $blue
    background lighten($blue, 97%)

  &.parcel
    border-color $teal
    background lighten($teal, 97%)

  &.public_equity
    border-color $orange
    background lighten($orange, 97%)
