.connections__footer
  border-top 1px solid $borderColor

.connections__header
  text-transform uppercase
  text-weight 600
  font-size 14px
  color #8f8f8f
  padding 16px

.connection__actions
   opacity 0

.MuiDataGrid-row:hover .connection__actions
  opacity 1
